.input {
  margin-left: 400px;
  margin-top: 200px;
  width: 300px;
  height: 30px;
}
.addButton {
  height: 36px;
  cursor: pointer;
  background-color: rgb(0, 72, 255);
  border: none;
  width: 120px;
  margin-left: 10px;
  color: white;
}
.tags_main {
    overflow: auto;
    display: flex;
flex-wrap: wrap;
  max-width: 436px;
  height: 400px;
  display: flex;
  margin-left: 400px;
}
.tagss {
  padding: 1px;
  box-sizing: content-box;
  background-color: rgba(0, 89, 255, 0.507);
  border: 1px solid rgb(0, 89, 255, 0.507);
  color: rgb(0, 89, 255);
  font-weight: bold;
  border-radius: 15px;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
  height: 30px;
}
.button-del {
  border: 1px solid rgb(0, 85, 255);
  background-color: blue;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
.text-error {
    width: 300px;
    margin-top: 20px;
    margin-left: 400px;
    color: red;
  }
  .disabled-button {
    height: 36px;
  cursor: pointer;
  background-color: rgba(0, 72, 255, 0.288);
  border: none;
  width: 120px;
  margin-left: 10px;
  color: white;
  }